/* Navbar.css */

/* Import Google Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Navbar */
.navbar {
  background-color: #007bff; /* Background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Navbar brand */
.navbar-brand {
  font-size: 1.5rem; /* Font size */
  color: #fff; /* Text color */
  font-family: 'Roboto', sans-serif; /* Google Font */
}

/* Navbar toggler icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar links */
.navbar-nav .nav-link {
  font-size: 1.2rem; /* Font size */
  color: #fff; /* Text color */
  padding: 1rem; /* Padding */
  font-family: 'Roboto', sans-serif; /* Google Font */
}

/* Navbar links - hover */
.navbar-nav .nav-link:hover {
  color: #f8f9fa; /* Hover color */
  background-color: rgba(255, 255, 255, 0.1); /* Hover background color */
}

/* Navbar collapse */
.navbar-collapse {
  justify-content: flex-end; /* Align tabs to the right */
}

/* Navbar expanded container */
.container-fluid {
  display: flex;
  justify-content: flex-end; /* Align tabs to the right */
  padding-right: 0; /* Remove padding on the right */
}

/* Navbar.css */

/* Navbar brand */
.navbar-brand {
  font-size: 1.5rem;
}

/* Navbar links */
.navbar-nav .nav-link {
  font-size: 1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Navbar links - hover */
.navbar-nav .nav-link:hover {
  color: #00ff00; /* Neon green */
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00, 0 0 70px #00ff00, 0 0 80px #00ff00, 0 0 100px #00ff00,
    0 0 150px #00ff00;
}
